.profile-column {
  float:left;
  padding-top: 40px;
  width: 25%;
}

.content-column {
  float:left;
  padding-left: 5%;
  width: 70%;
}

.description a {
  color: #445e70;
}

.homepage {
  padding-top: 100px;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
}

.no-link-decoration {
  color: 	#36454f;
}

.no-link-decoration:visited {
  color: 	#36454f;
}

.profile-picture {
    width: 100%;
    margin: 2.5rem auto 0;
    border-radius: 50%;
}

.profile-spacer {
    margin-right: 5%;
    max-width: 200px;
}

.bio {
    margin: 25px 0 0 25px;
    width: 100%;
    word-wrap: break-word;
    font-size: 1em;
}

.bio .description {
    padding-top: 25px;
}

.grid {
  position: relative;
  width: 100%;
}

.item {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: transparent;

}

.item a {
    font-size: 1.5em;
}

.item p {
    font-size: 0.8em;
}

  .item.muuri-item-dragging {
    z-index: 3;
  }
  .item.muuri-item-releasing {
    z-index: 2;
  }
  .item.muuri-item-hidden {
    z-index: 0;
  }

  .post-meta {
    float:left;
    width: 400px;
  }
  
  .post-description {
    float:left;
    width: 400px;
  }
  
  .filter-button {
    display:inline-block;
    position: relative;
  }
  
  .post {
    margin: 100px auto 100px;
    max-width: 700px;
    font-size: 1.25em;
  }
  
  .photo-row {
      position: relative;
      display:flex;
      align-items:center;
      width: 100%;
      margin-bottom: 20px;
  }

  .photo-container {
    width: 60%;
  }

  .photo-container .photo-overlay {
    display: none;
  }
  
  .photo-container:hover .photo-overlay {
    display: block;
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: lightgrey; /* Grey text */
    width: 60%; /* Full width */
    margin-bottom: 5px;
    font-size: 12px;
  }
  
  .photo-container .photo-overlay p {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    font-family: Montserrat;
  }
  
  .photo-caption {
    max-width: 35%;
    word-wrap: break-word;
    font-size: 1.5em;
  }
  
  @media screen and (max-width : 906px) {
    .desktop {
      visibility:hidden;
      display: none;
    }
  
    .photo-container {
      width: 100%;
    }
  
    .photo-container:hover .photo-overlay {
      width: 100%;
    }
  }
  
  .profile {
    display: inline-block;
    width: 240px;
    height: 240px;
  }
  
  .bio {
    display: inline-block;
  }

  .photo-post {
    margin-top: 100px;
  }

  .grid-header h4 {
    display: inline-block;
  }

  .custom-select {
    font-size: 2em;
    font-family: PT Serif;

    display: inline-block;
    border: 0;
    padding: 0;
    background-color: transparent;

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

    text-decoration: underline;
  }

  select:focus {
    border: 0;
    outline: 0;
  }

  .custom-select select::-ms-expand {
    display: none;
  }