 
.grid {
  position: relative;
  width: 100%;
}
.item {
  display: block;
  position: absolute;
  width: 100%;
  margin: 5px;
  z-index: 1;
  background-color: transparent;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  word-wrap: break-word;
  margin: 5px;
  width: 100%;
  height: 100%;
}

a.post-link {
  font-size: 20px;
}

.post-meta {
  float:left;
  width: 400px;
}

.post-description {
  float:left;
  width: 400px;
}

.grid-header {
  text-align: center;
}

.filter-button {
  display:inline-block;
  position: relative;
}

.post {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  font-size: 1.25em;
}

.photo-row {
    position: relative;
    display:flex;
    align-items:center;
    width: 100%;
    margin-bottom: 20px;
}

.photo-container {
  width: 60%;
}

.photo-container .photo-overlay {
  display: none;
}

.photo-container:hover .photo-overlay {
  display: block;
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: lightgrey; /* Grey text */
  width: 60%; /* Full width */
  margin-bottom: 0;
  font-family: "Open Sans";
  font-size: 12px;
}

.photo-container .photo-overlay p {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.photo-caption {
  margin-left: 5%;
  max-width: 35%;
  word-wrap: break-word;
  font-size: 1.5em;
  font-family: PT Serif;
}

@media screen and (max-width : 906px) {
  .desktop {
    visibility:hidden;
    display: none;
  }

  .photo-container {
    width: 100%;
  }

  .photo-container:hover .photo-overlay {
    width: 100%;
  }
}

.profile {
  display: inline-block;
  width: 240px;
  height: 240px;
}

.bio {
  display: inline-block;
}

