---
layout: default

tech-icon: far fa-edit
photo-icon: fas fa-camera
---

<div class="container homepage">

  <div class="profile-column">
      <div class="profile-container">
          <img class="profile-picture" src="/photos/profile.jpg" alt="image"/>
      </div>

      <div class="bio-nav">
        <a href="about">professional bio</a>
      </div>
  </div>

  <div class="content-column">

    <div class="grid-header row">
          <h4>see&nbsp</h4>
          <select class="custom-select filter-field">
            <option class="select-posts" value="">posts</option>
            <option class="select-photos" value="photo">pictures</option>
            <option class="select-projects" value="project">projects</option>
          </select>
      </div>
  
      <div class="row">
        <div class="grid">
            {%- if site.posts.size > 0 -%}
            {%- for post in site.posts -%}
              <div class="item row" data-category="{{post.category}}">
                  <a class="no-link-decoration" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                  <p>{{ post.date | date: "%B %d, %Y"}}</p>
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
  </div>
</div>

<script type="text/javascript">
  var grid = new Muuri('.grid', {dragEnabled: false, layout: {fillGaps: true}});

  var filterField = document.querySelector('.filter-field');
  filterField.addEventListener('change', filter);

  function filter() {
    grid.filter(function (item) {
      var element = item.getElement();
      var isFilterMatch = filterField.value == "" ? true : (element.getAttribute('data-category').includes(filterField.value))
    
      return isFilterMatch;
    
    });
  }
</script>