---
layout: default
---

<div class="photo-post">
    
    <h2>{{ page.title | escape | newline_to_br }}</h1>
        
        {{ content }}

        {% for image in site.static_files %}
            {% if image.path contains page.folder %}
                <div class=photo-container>
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image"/>
                    <div class=photo-overlay>
                        <p>{% exiftag model, {{page.folder}}, {{image.name}} %}
                           {% exiftag exposure_time.to_s, {{page.folder}}, {{image.name}} %}
                           {% exiftag f_number.to_f, {{page.folder}}, {{image.name}} %} </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}      
    </div>
    