---
layout: default
---

<div class="container photo-post">
    
    <a class="no-link-decoration" href="/">↩</a>
    
    <h2>{{ page.title | escape | newline_to_br }}</h1>
    
    <h5>{{ page.description | escape }}</h5>
        
    {{ content }} 
    
    {% assign counter = 0 %}

    {% for image in site.static_files %}
        {% if image.path contains page.folder %}
        
        {% assign counter = counter | plus:1 %}

        <div class="photo-row">
            <div class="photo-container">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image"/>
                <div class=photo-overlay>
                    {% capture lens-model %}{% exiftag lens_model, {{page.folder}}, {{image.name}} %}{% endcapture %}
                    {% capture camera-model %}{% exiftag model, {{page.folder}}, {{image.name}} %}{% endcapture %}
                    {% capture f-stop %}{% exiftag f_number.to_f, {{page.folder}}, {{image.name}} %}{% endcapture %}
                    {% capture focal-length %}{% exiftag focal_length, {{page.folder}}, {{image.name}} %}{% endcapture %}

                    {% if site.lens-mapping[lens-model] %}
                        {% assign lens-model = site.lens-mapping[lens-model] %}
                    {% endif %}

                    {% if site.camera-mapping[camera-model] %}
                        {% assign camera-model = site.camera-mapping[camera-model] %}
                    {% endif %}

                    <p>{% assign focal-length = focal-length | split: "/" %}</p>
                    
                    <p> {{camera-model}} |
                        {% if lens-model != ""%} 
                            {{lens-model}} |
                        {% endif %}
                        f{{f-stop}} @ {{ focal-length.first }}mm </p>
                </div>
            </div>

            <!-- {% if page.caption and page.caption[image.name] %}
                <span class="photo-caption desktop" >{{ page.caption[image.name] }}</span>
            {% elsif page.caption and page.caption[counter] %}
                <span class="photo-caption desktop" >{{ page.caption[counter] }}</span>
            {% endif %} -->
        </div>
        
        {% endif %}
    {% endfor %}  

    <a class="no-link-decoration" href="/">↩</a>


    </div>
</div>